MERGE INTO {{ sat.dataset }}.{{ sat.name }} AS t
USING (
  {% for source in sat.sources %}
    SELECT 
            {% for key, value in source.column_mappings.items() %}
            {{ key }} AS {{ value }},
            {% endfor %}
            {{ source.effective_ts }} AS effective_ts
    FROM {{ source.dataset }}.{{ source.table }}
    WHERE {{ source.filter }}
    {% if not loop.last %}
    UNION ALL
    {% endif %}
    {% endfor %}
) AS s
ON {% for key in sat.business_key %}
    {% if not loop.first %}AND {% endif %}t.{{ key }} = s.{{ key }}
    {% endfor %}
WHEN MATCHED THEN
  UPDATE SET
  {# Header to use in other templates
  {% for key, value in sat.column_mappings.items() %}
    t.{{ value }} = s.{{ key }}{% if not loop.last %},{% endif %}
  {% endfor %},
  #}
  lddts = CURRENT_DATETIME()
WHEN NOT MATCHED BY TARGET THEN
  INSERT (
  {#
  {% for value in sat.column_mappings.values() %}{{ value }}{% if not loop.last %}, {% endif %}{% endfor %}, lddts)
  VALUES (
  {% for key, value in sat.column_mappings.items() %}
    s.{{ key }}{% if not loop.last %}, {% endif %}
  {% endfor %},
  #}
  CURRENT_DATETIME())
WHEN NOT MATCHED BY SOURCE THEN
  DELETE
;
