MERGE INTO {{ hub.name }} AS t
USING (
  {% for source in hub.sources %}
  SELECT '{{ source.table }}' AS source_table,
         {{ ', '.join(source.business_key) }} AS business_key
    FROM `{{ source.table }}`
   WHERE {{ source.filter }}
   UNION ALL
  {% endfor %}
) AS s
ON {% for key in hub.business_key %}t.{{ key }} = s.{{ key }} {% if not loop.last %} AND {% endif %}{% endfor %}
WHEN MATCHED THEN
  UPDATE SET {% for key in hub.business_key %}{{ key }} = s.{{ key }}, {% endfor %}load_datetime = CURRENT_DATETIME()
WHEN NOT MATCHED BY TARGET THEN
  INSERT ({% for key in hub.business_key %}{{ key }}, {% endfor %}load_datetime)
  VALUES ({% for key in hub.business_key %}s.{{ key }}, {% endfor %}CURRENT_DATETIME())
WHEN NOT MATCHED BY SOURCE THEN
  DELETE
;
